<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Add Game</title>
</head>

<body>
    <nav class="navbar navbar-light bg-danger">
        <div class="container-fluid">
            <span class="text-white ">User: {{request.session.user_name}}</span>
            <span class="navbar-brand mb-0 h1 text-white">Rotten Apples</span>
            <span> <a href="/hub" class="text-white p-4">Hub</a>
                <a href="/logout" class="text-white">Logout</a></span>
        </div>
    </nav>
    <div class="container d-flex justify-content-center p-4">
        <h2 class="add_game_text">Add a Game!</h2>
    </div>

    <div class="container p-4">
        {% if messages %}
        <div class="alert alert-primary m-0" role="alert">
            {% for message in messages %}
            {{message}}
            <br>
            {% endfor %}
        </div>
        {% endif %}
        <form action="/newgame" method='post' class="border add_game_form border-dark shadow-lg p-3 mb-5 rounded p-4">
            {% csrf_token %}
            <div class="form-group">
                <label class="formlabel">Title</label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="form-group">
                <label class="formlabel">Enter Image URL</label>
                <input type="url" name="image_url" class="form-control">
            </div>
            <div class="form-group">
                <label class="formlabel">Platforms</label>
                <input type="text" name="platform" class="form-control">
            </div>
            <div class="form-group">
                <label class="formlabel">Release Date</label>
                <input type="date" name="release_date" class="form-control" >
            </div>
            <div class="form-group">
                <label class="formlabel">Description</label>
                <textarea type="text" name="description" class="form-control" rows="3"></textarea>
            </div>
            <button class="btn btn-primary mt-1">Add Game</button>
        </form>











</body>

</html>