<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{{showgame.title}}</title>
</head>

<body>
    <nav class="navbar navbar-light bg-danger">
        <div class="container-fluid">
            <span class="text-white ">User: {{request.session.user_name}}</span>
            <span class="navbar-brand mb-0 h1 text-white">Rotten Apples</span>
            <span> <a href="/hub" class="text-white p-4">Hub</a>
                <a href="/logout" class="text-white">Logout</a></span>

        </div>
    </nav>
    <div class="container p-4 mt-5 bg-light shadow-lg rounded">
        <div class="row">
            <div class="col">
                <h1>{{showgame.title}}</h1>
                <img src="{{showgame.image_url}}" alt="No Image Available" class="game_image">
                <div class="row-lg">
                    <div class="col">
                        <p class="platform">Available on: {{showgame.platform}}</p>
                    </div>
                    <div class="release_date">
                        <p>Released on: {{showgame.release_date|date:"SHORT_DATE_FORMAT"}}</p>
                    </div>
                    <div class="col">
                        <p>Game Description: </p>
                        <p>{{showgame.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="/{{showgame.id}}/edit" class="badge badge-warning">Edit</a>
        <a href="/{{showgame.id}}/delete" class="badge badge-danger">Delete</a>
    </div>
    <div class="container p-2">
        <div class="row">
            <div class="col">
                <form action="/create_post/{{showgame.id}}" method="post">
                    {% csrf_token %}
                    <div class="form-group w-75">
                        <label>
                            <h5 class="post_text">Submit a Review/Post</h5>
                        </label>
                        <textarea type="text" name="post" class="form-control" rows="3"></textarea>
                    </div>
                    <button class="btn btn-primary mt-2">Post</button>
                </form>


                <!-- {% for posts in post %}
                <div class="post bg-light m-4 p-2 rounded h-auto w-50">
                    {{posts.post}}
                    <a href="/{{posts.id}}/delete_post" class="d-flex justify-content-end" >Delete Post</a>
                </div>
                {% endfor %} -->


                <!-- {{showgame.game_reviews.all}} -->
                {% for review in showgame.game_reviews.all %}
                <div class="post bg-light m-4 p-2 rounded h-auto w-50">
                    <p class="poster">By: {{review.poster.username}}</p>
                    <p class="review_post">{{review.post}}</p>
                    {% if review.poster.username == request.session.user_name %}
                        <a href="/delete/{{review.id}}" class="d-flex justify-content-end">Delete Post</a>
                    {% endif %}
                    <a href="/like/{{review.id}}">Like Post</a>
                    <p>{{ review.likes.count }} likes</p>
                </div>


                {% endfor %}





            </div>


        </div>
    </div>
    </div>










</body>

</html>